html,
body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
  min-width: 1700px!important;
  min-height: 800px!important;
  overflow:  hidden; */
}

/* span,
p,
h1,
h2,
h3,
h4,
div,
button {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  box-sizing: border-box;
} */

p {
    padding: 0;
    margin: 0;
  font-size: 14px;
}

span {
    font-size: 14px;
}