html,
body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
  min-width: 1700px!important;
  min-height: 800px!important;
  overflow:  hidden; */
}

/* span,
p,
h1,
h2,
h3,
h4,
div,
button {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  box-sizing: border-box;
} */

p {
    padding: 0;
    margin: 0;
  font-size: 14px;
}

span {
    font-size: 14px;
}

.el-dialog__body {
  padding-top: 0!important
}

.el-table__row{
  overflow: scroll;
}

.cell {
  text-align: center
}

.content {
  width: 100%;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.dialog_tabs {
  height: 500px;
  overflow-y: auto;
}

.el-dialog__header {
  display: flex;
  align-items: center;
}

.el-dialog__title {
  font-size: 14px;
}

.dialog_item {
  /* height: 50px; */
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.dialog_item_right {
  height: 40px;
  display: flex;
  align-items: center;
}

.dialog_item_span {
  width: 100px;
  height: 40px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dialog_item_select {
  margin-right: 10px;
}

.dialog_item_input {
  width: 444px;
}

.upload-demo-button {
  height: 40px;
}